body {
  margin: 0 auto;
  text-align: center;
  font-family: 'Inria Serif', serif;
  background: #e9ecef;
}

h1 {
  padding-top:15px;
}

.currencyInput label {
  font-family: 'Montserrat', sans-serif;
}

#formSubmit {
border-radius: 5px;
padding: 5px 45px;
  font-family: 'Inria Serif', serif;
}

#cType, #cAmount {
  padding:5px;
  background:#f8f9fa;
  border-radius:5px;
}

.container {
  padding-top:100px;
}

input {
  margin: 10px 0;
}

.currencyFormDiv {
  padding:6%;
}

form {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 20px 200px;
  background:white;
  border-radius: 20px;
  box-shadow: 10px 10px 8px #888888;
}

.errorShow {
  background: red;
  padding:10px;
  border-radius:5px;
  color:white;
}
.resultShow {
  background: #e9ecef;
  padding:10px;
  border-radius:5px;
}

@media only screen and (min-width: 1000px) {
  form {
    padding: 0 350px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size:1.2rem;
  }

  form {
    padding: 0 50px;
  }

  #formSubmit, label{
    font-size:0.9rem;
  }

}
